/* UTILITIES */
.color-white{
    color: white;
}





/* ---------   NAV ---------- */
.bell{
    color: rgb(255, 143, 0);
}

.img-logo{
    max-width: 50px;
}

.btn-secondary-personal{
    color: #fff;
    background-color: #ffffff;
    border-color: #6c757d;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}



/* MAIN */

main{
    margin-top: 54px;
    overflow: hidden;
}

/* SIDE NAV BAR */

.side-bar{
    background-color: rgb(5, 30, 52);
    max-width: 150px;
    min-height: 100vh;
    min-height: calc(100vh - 54px);
}

.group-menu{
    display: flex;
    
}

.side-bar{
    color: white;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-menu li{
    list-style: none;
    margin: .5rem 0;

}

.box-side ul{
    padding: .5rem;
}

.settings-menu *{
    padding: 0.5rem;
}

.to-hide{
    display: none;
}

/* main page */

.badge-mod {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 30px;
}
.bg-secondary-mod{
    background-color: rgba(0, 0, 0, 0.199);
}


.new-stud h5{
    margin-right: 1rem;
}


.box-card{
    margin-top: 2rem;
    border: 2px solid #d5d7d8;
    border-radius: 10px;

}

.card-name{
    background-color: #eff0f0;
    padding: .5rem 1rem;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
}

.icon-classes{
    padding: .5rem;
    background-color: #f26551;
    border-radius: 50%;
    color: white;
}

.down-line{
    border-bottom: 1px solid #d5d7d8;
}

/* badge manuale */
.badge-form{
    border-radius: 15px;
    padding: 3px 6px;
    color: white;
    font-size: .7rem;
}

.badge-done{
    background-color: green;
}
.badge-process{
    background-color: rgb(255, 200, 0);
}
.badge-failed{
    background-color: red;
}

/* ------ */

.action-box{
    padding: .5rem;
    gap: .5rem;
}
.action-box a{
    text-decoration: none;
    color: #6c757d;
}
.action-item{
    border: 1px solid #d5d7d8;
    padding: .5rem;
    border-radius: 5px;
}

.weight-text{
    font-weight: 500;
}

.button-mod {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: 500;
    font-stretch: ;
    font-size: 1rem;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: white;
    margin: 0em;
    padding: 1px 6px;
    border-width: none;
    border-style: none;
    border-color: none;
    border-image: none;
}

.border-rounded{
    border: 1px solid #d5d7d8;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.graph-card h6{
    padding-bottom: .5rem;
}

.graph-card a h6{
    margin-top: 1rem;
}





@media screen and (min-width:576px){
    
}

@media screen and (min-width:768px){
    .to-hide{
        display: block;
    }
}